@using VehicleRentalSystem.Domain.Constants;
@model RentalViewModel

@{
    ViewData["Title"] = "Rental";
}



<form method="post">
    <div class="container" style=" margin-top:10vh;"> 
        <div class="col-6 px-3">
            <h3>
                <i class="fa fa-shopping-cart"></i> &nbsp; Rental Summary
            </h3>
        </div>
        <div class="d-flex w-100">
            <div class=" p-3" style="width:60%;">
                <div>
                    <h4 class="d-flex justify-content-between align-items-center mb-3">
                        <span class="text-info">Customer Details:</span>
                    </h4>
                    <div class="row mb-3">
                        <div class="col-3">
                            <input asp-for="@Model.CustomerId" class="form-control" hidden/>
                            <label asp-for="@Model.CustomerName">Customer Name: </label>
                        </div>
                        <div class="col-9">
                            <input asp-for="@Model.CustomerName" class="form-control w-75" disabled/>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-3">
                            <label asp-for="@Model.PhoneNumber">Phone Number: </label>
                        </div>
                        <div class="col-9">
                            <input asp-for="@Model.PhoneNumber" class="form-control w-75" disabled/>
                            <span asp-validation-for="@Model.PhoneNumber" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-3">
                            <label asp-for="@Model.CustomerAddress"> Customer Address: </label>
                        </div>
                        <div class="col-9">
                            <input asp-for="@Model.CustomerAddress" class="form-control w-75" disabled/>
                            <span asp-validation-for="@Model.CustomerState" class="text-danger" disabled></span>
                        </div>
                    </div>
                    @if (User.IsInRole(Constants.Customer))
                    {
                        <div class="row mb-3">
                            <div class="col-3">
                                <label asp-for="@Model.CustomerLicenseNumber">License Number: </label>
                            </div>
                            <div class="col-9">
                                <input asp-for="@Model.CustomerLicenseNumber" class="form-control w-75" disabled/>
                                <span asp-validation-for="@Model.CustomerLicenseNumber" class="text-danger" disabled></span>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-3">
                                <label asp-for="@Model.CustomerCitizenshipNumber">Citizenship Number:</label>
                            </div>
                            <div class="col-9">
                                <input asp-for="@Model.CustomerCitizenshipNumber" class="form-control w-75" disabled/>
                                <span asp-validation-for="@Model.CustomerCitizenshipNumber" class="text-danger" disabled></span>
                            </div>
                        </div>
                    }
                </div>
                <div class="mt-4" style="width:82%;">
                    <h4 class="d-flex justify-content-between align-items-center mb-3">
                        <span class="text-info">Order Summary</span>
                    </h4>
                    <ul class="list-group mb-3" >
                        <li class="list-group-item d-flex flex-column justify-content-between" style="background-color: #f3edfe;">
                            <div>
                                <input asp-for="@Model.VehicleId" class="form-control" hidden/>
                                <h6 class="my-2">Name: </h6>@Model.VehicleName
                                <hr />
                                <h6 class="my-2">Description: </h6>@Model.VehicleDescription
                                <h6 class="mt-3 mb-2">Features: </h6>@Model.VehicleFeatures
                            </div>
                            <hr>

                            <div class="mt-2 d-flex w-full justify-content-between">
                                <small class="text-muted">Actual Price: @Model.ActualPrice</small>
                                @if (Model.PriceForRegularAndStaffs != 0.0)
                                {
                                    <span class="text-muted">Price for you: @Model.PriceForRegularAndStaffs</span>
                                }
                            </div>    
                            
                        </li>
                    </ul>
                </div>
            </div>
            <div class=" p-3" style="width: 40%;">
                <div>
                    <h4 class="d-flex justify-content-between align-items-center mb-3">
                        <span class="text-info">Select Date:</span>
                    </h4>
                    <div class="row mb-3">
                        <div class="col-3">
                            <label asp-for="@Model.StartDate"> Start Date:</label>
                        </div>
                        <div class="col-9">
                            <input id="from-date" id="rentDate" asp-for="@Model.StartDate" class="form-control" value="2023-04-01T12:00:00.000"/>
                            <span asp-validation-for="@Model.StartDate" class="text-danger" ></span>
                        </div>
                    </div>
                        <div class="row mb-3">
                        <div class="col-3">
                            <label asp-for="@Model.EndDate">End Date: </label>
                        </div>
                        <div class="col-9">
                            <input id="to-date" asp-for="@Model.EndDate" class="form-control" value="2023-04-01T12:00:00.000"/>
                            <span asp-validation-for="@Model.EndDate" class="text-danger" ></span>
                        </div>
                    </div>
                </div>
                <button onclick="return ValidateInput()" type="submit" class="w-100 btn btn-primary mt-3 mb-5">Request</button>
            </div>
        </div>
    </div>
</form>

<style>
    .fa-shopping-cart{
        font-size:25px;
    }    
</style>

@section Scripts{
    <script>
        
    </script>
}

