@using VehicleRentalSystem.Presentation.Areas.Admin.ViewModels;
@model SalesViewModel
@{
    ViewData["Title"] = "Sales & Stats";
}

<h1>Sales & Stats</h1>

<h1>Customers</h1>

<div class="row">
    <div class="card">
        Total Customers: @Model.CustomersCount
    </div>
</div>

<br />

<h1>Total Rents</h1>

<div class="row">
    <div class="card">
        Total Rents: @Model.TotalRentalCounts
    </div>
</div>

<br />

<h1>Pending Rental Requests</h1>

<div class="row">
    <div class="card">
        Pending Requests: @Model.PendingRequestsCount
    </div>
</div>

<br />

<h1>Total Sales</h1>

<div class="row">
    <div class="card">
        Total Sales: @Model.TotalSales
    </div>
</div>

<br />

<h1>All Users Rents</h1>

@foreach (var item in Model.UserRentCount)
{
    <div class="row">
        <div class="card">
            @item.User: @item.Count 
        </div>
    </div>
}

<br />

<h1>All Vehicles Rent Count</h1>

@foreach (var item in Model.VehicleRentCount)
{
    <div class="row">
        <div class="card">
        @item.Vehicle: @item.Count 
        </div>
    </div>
}

<br />

<h1>All Brands Vehicles</h1>

@foreach (var item in Model.BrandVehicleCount)
{
    <div class="row">
        <div class="card">
            @item.Brand: @item.Count 
        </div>
    </div>
}

<h1>InActive Customers</h1>

@foreach (var item in Model.InactiveUserCount)
{
    <div class="row">
        <div class="card">
            @item.CustomerName: @item.LastRentedDate
        </div>
    </div>
}

<h4><b>Line Chart</b></h4>

<canvas id="lineChart" style="max-width: 400px; max-height: 430px"></canvas>

@section Scripts{
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        $(document).ready(function() {
            $.ajax({
                type: "POST",
                url: "/Admin/Sales/BrandVehicles",
                data: "",
                contextType: "application/json; charset=utf-8",
                dataType: "json",
                success: OnSuccessResult,
                error: OnError
            });

            function OnSuccessResult(data){
                console.log(data);
                var _data = data;
                var _chartLabels = _data[0];
                var _chartData = _data[1];
                console.log(_chartData)
                console.log(_chartLabels)
                var barColors = ["Red", "Blue", "Yellow", "Green", "Purple", "Orange"];

                new Chart("lineChart",
                {
                    type: "bar",
                    data: {
                        labels: _chartLabels,
                        datasets: [{
                            backgroundColor: ["red", "blue", "green", "blue", "red", "blue"], 
                            data: _chartLabels
                        }]
                    }
                })
            }

            function OnError(data){
                console.log(data)
            }

        });
    </script>
}
        