@model List<HistoryViewModel>
@{
    ViewData["Title"] = "Accepted History";
}

<h1>Accepted History</h1>

<partial name="_Notification" />

<div class="row">
	<form method="post">
		@foreach (var item in Model)
		{
			<div class="card">
				<div class="card-body">
					<div class="row">
						<div class="col-4">
							@foreach(var image in item.VehicleImages)
							{
								<div class="row mb-2">
									<img id="profilePicture" style="width:350px;height:400px; object-fit:cover; margin:auto" src="@image.ImageURL">
								</div>
							}
						</div>
						<div class="col-8">
							<div class="row">
								<input asp-for="@item.Id" hidden/>
							</div>
							<div class="row">
								Vehicle Name: @item.VehicleName
							</div>
							<div class="row">
								Requested Date: @item.RequestedDate
							</div>
							<div class="row">
								Start Date: @item.StartDate
							</div>
							<div class="row">
								End Date: @item.EndDate
							</div>
							<div class="row">
								Total Amount: @item.TotalAmount
							</div>
							<div class="row">
								Accepted Date: @item.ActionDate
							</div>
							<div class="row">
								Accepted By: @item.ActionBy
							</div>
							
							@if(!item.IsDamaged){
								<div class="row">
									<button class="form-control" type="submit" asp-action="Accepted" asp-route-rentalId="@item.Id">Cancel</button>
								</div>
								<div class="row">
									<a class="form-control btn btn-outline-dark" asp-action="DamageRequest" asp-route-rentalId="@item.Id">Fill Damage Form</a>
								</div>
							}
							else
							{
								<div class="row">
									<a class="form-control btn btn-outline-dark" asp-action="DamageDetails" asp-route-rentalId="@item.Id">Damage Details</a>
								</div>
							}
						</div>
					</div>
				</div>
			</div>
		}
	</form>
    
</div>
