@model List<HistoryViewModel>
@{
    ViewData["Title"] = "Returned History";
}

<h1>Returned History</h1>

<partial name="_Notification" />

<div class="row">
    @foreach (var item in Model)
	{
		<div class="card">
			<div class="card-body">
				<div class="row">
					<div class="col-4">
						@foreach(var image in item.VehicleImages)
						{
							<div class="row mb-2">
								<img id="profilePicture" style="width:350px;height:400px; object-fit:cover; margin:auto" src="@image.ImageURL">
							</div>
						}
					</div>
					<div class="col-8">
						<div class="row">
							Vehicle Name: @item.VehicleName
						</div>
						<div class="row">
							Requested Date: @item.RequestedDate
						</div>
						<div class="row">
							Start Date: @item.StartDate
						</div>
						<div class="row">
							End Date: @item.EndDate
						</div>
						<div class="row">
							Total Amount: @item.TotalAmount
						</div>
						<div class="row">
							Accepted Date: @item.ActionDate
						</div>
						<div class="row">
							Accepted By: @item.ActionBy
						</div>
						<div class="row">
							Returned Date: @item.ReturnedDate
						</div>
					</div>
				</div>
			</div>
		</div>
	}
</div>
